Cinema/package-lock.json
Cinema/package.json
Cinema/node_modules

my-app/package-lock.json
my-app/package.json
my-app/node_modules

Subscriptions/package-lock.json
Subscriptions/package.json
Subscriptions/node_modules
